@page
@model Practica_ll.Pages.NominaModel
@{
    ViewData["Title"] = "Nomina page";
}

<h1>Nomina Empleados || Practica ll</h1>

<div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark text-center"">
            <tr>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>CARGO</th>
                <th>SALARIO BRUTO</th>
                <th>SFS</th>
                <th>AFP</th>
                <th>TOTAL TSS</th>
                <th>ISR</th>
                <th>TOTAL DESCUENTOS</th>
                <th>SALRIO NETO</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var nomina in Model.Nominas)
            {
                <tr>
                    <td>@nomina.Nombre</td>
                    <td>@nomina.Apellido</td>
                    <td>@nomina.Cargo</td>
                    <td><text>RD</text>@string.Format("{0:C2}", @Math.Round(nomina.Sueldo_Bruto, 2))</td>
                    <td><text>RD</text>@string.Format("{0:C2}", @nomina.SFS(nomina.Sueldo_Bruto))</td>
                    <td><text>RD</text>@string.Format("{0:C2}", @nomina.AFP(nomina.Sueldo_Bruto))</td>
                    <td><text>RD</text>@string.Format("{0:C2}", @nomina.Total_TSS(nomina.SFS(nomina.Sueldo_Bruto), nomina.AFP(nomina.Sueldo_Bruto)))</td>
                    <td><text>RD</text>@string.Format("{0:C2}", @nomina.ISR(nomina.SFS(nomina.Sueldo_Bruto), nomina.AFP(nomina.Sueldo_Bruto), nomina.Sueldo_Bruto))</td>
                    <td><text>RD</text>@string.Format("{0:C2}", @nomina.Total_Desc(nomina.Total_TSS(nomina.SFS(nomina.Sueldo_Bruto), nomina.AFP(nomina.Sueldo_Bruto)), nomina.ISR(nomina.SFS(nomina.Sueldo_Bruto), nomina.AFP(nomina.Sueldo_Bruto), nomina.Sueldo_Bruto)))</td>
                    <td><text>RD</text>@string.Format("{0:C2}", @nomina.Sueldo_Neto(nomina.Sueldo_Bruto, nomina.SFS(nomina.Sueldo_Bruto), nomina.AFP(nomina.Sueldo_Bruto), nomina.ISR(nomina.SFS(nomina.Sueldo_Bruto), nomina.AFP(nomina.Sueldo_Bruto), nomina.Sueldo_Bruto)))</td>
                </tr>
            }
        </tbody>
    </table>
</div>
